<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bc0098.agritivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AGRITIVITY">
        <activity android:name=".ui.petani.PetaniActivity"></activity>
        <activity android:name=".ui.berita.BeritaActivity" />
        <activity android:name=".ui.pekerjaan.PekerjaanActivity" />
        <activity android:name=".ui.panduan.HasilCameraActivity" />
        <activity android:name=".ui.panduan.CameraActivity" />
        <activity android:name=".ui.panduan.PanduanActivity" />
        <activity
            android:name=".ui.detail.petani.DetailPetaniActivity"
            android:label="@string/title_activity_detail_petani"
            android:theme="@style/Theme.AGRITIVITY.NoActionBar" />
        <activity
            android:name=".ui.detail.berita.DetailBeritaActivity"
            android:label="@string/title_activity_detail_berita"
            android:theme="@style/Theme.AGRITIVITY.NoActionBar" />
        <activity
            android:name=".ui.detail.pekerjaan.DetailPekerjaanActivity"
            android:label="@string/title_activity_detail_pekerjaan"
            android:theme="@style/Theme.AGRITIVITY.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>