<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bc0098.agritivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AGRITIVITY">
        <activity
            android:name=".ui.detail.petani.DetailPetaniActivity"
            android:label="@string/title_activity_detail_petani"
            android:theme="@style/Theme.AGRITIVITY.NoActionBar"></activity>
        <activity
            android:name=".ui.detail.berita.DetailBeritaActivity"
            android:label="@string/title_activity_detail_berita"
            android:theme="@style/Theme.AGRITIVITY.NoActionBar" />
        <activity
            android:name=".ui.detail.pekerjaan.DetailPekerjaanActivity"
            android:label="@string/title_activity_detail_pekerjaan"
            android:theme="@style/Theme.AGRITIVITY.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>